{% import 'macros/form.html' as form %}

{% set placeholder = _('Search for open data') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}
{% set form_classes = form_classes if form_classes else 'search-form' %}

{% if c.controller in ['package', 'dataset'] and c.action == 'search' %}

  {% snippet 'snippets/dataset_search_form.html', query=query, count=count, type=type, facets=facets, placeholder=placeholder, sorting=sorting, form_id=form_id, sorting_selected=sorting_selected %}

{% else %}

  <form {% if form_id %}id="{{ form_id }}" {% endif %}class="{{ form_classes }}{% if no_bottom_border %} no-bottom-border{% endif %}" method="get" data-module="select-switch">

    {% if not (c.controller in ['organization'] and c.action == 'read') %}
    {% block search_input %}
      <div class="search-input control-group {{ search_class }}">
        <input type="text" class="search" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
        {% block search_input_button %}
        <button type="submit" value="search">
          <i class="fa fa-search"></i>
          <span>{{ _('Submit') }}</span>
        </button>
        {% endblock %}
      </div>
    {% endblock %}
    {% endif %}

    {% block search_search_fields %}
      {% if fields -%}
        <span>{{ form.hidden_from_list(fields=fields) }}</span>
      {%- endif %}
    {% endblock %}

    {% block search_sortby %}
      {% if sorting %}
        <div class="form-select control-group control-order-by">
          <label for="field-order-by">{{ _('Order by') }}</label>
          <select id="field-order-by" name="sort">
            {% for label, value in sorting %}
              {% if label and value %}
                <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
              {% endif %}
            {% endfor %}
          </select>
          {% block search_sortby_button %}
          <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
          {% endblock %}
        </div>
      {% endif %}
    {% endblock %}

    {% block search_title %}
      {% if not error %}
        <h2>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
      {% else %}
        <h2>Error</h2>
      {% endif %}
    {% endblock %}

    {% block search_facets %}

    {% endblock %}

  </form>

{% endif %}


{% if count == 0 and not error %}
  <br/>
  {% trans %}
    <p class="extra">Try a different search term, or adjust your search filters.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  <br/>
  {% trans %}
    <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}
