{% ckan_extends %}

{% block head_extras %}
  {{ super() }}
  {% if h.get_gtm_code() %}
    {% snippet "snippets/gtm_include.html" %}
  {% endif %}
  {% if h.hotjar_tracking_enabled() == true %}
    {% snippet "snippets/hotjar.html" %}
  {% endif %}
  {% if h.monsido_tracking_enabled() == true %}
    {% snippet "snippets/monsido.html" %}
  {% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-js' %}
{% endblock %}
