{% ckan_extends %}

{% block htmltag %}
<!--[if IE 9]> <html lang="en-au" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-au"> <!--<![endif]-->
{% endblock %}

{% block head_extras %}
  {{ super() }}

  {% if h.get_gtm_container_id() %}
    {% snippet "snippets/gtm_include.html" %}
  {% endif %}

  {% if h.hotjar_tracking_enabled() %}
    {% snippet "snippets/hotjar.html" %}
  {% endif %}

  {% if h.monsido_tracking_enabled() %}
    {% snippet "snippets/monsido.html" %}
  {% endif %}

  {% if h.get_google_optimize_id() %}
    {% snippet "snippets/google_optimize.html" %}
  {% endif %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-js' %}
{% endblock %}

{%- block htmltag -%}
  <!--[if IE 9]> <html lang="en_AU" class="ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en_AU"> <!--<![endif]-->
{%- endblock -%}
