{% ckan_extends %}

{% block head_extras %}
  {{ super() }}

  {% if h.get_gtm_container_id() %}
    {% snippet "snippets/gtm_include.html" %}
  {% endif %}

  {% if h.hotjar_tracking_enabled() %}
    {% snippet "snippets/hotjar.html" %}
  {% endif %}

  {% if h.monsido_tracking_enabled() %}
    {% snippet "snippets/monsido.html" %}
  {% endif %}

  {% snippet "snippets/google_optimize.html" %}
{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset 'datavic_odp_theme/datavic_odp_theme-js' %}
{% endblock %}

{%- block htmltag -%}
  {% set lang = h.lang() %}

  {% if lang == 'en_AU' %}
    {% set lang = 'en-au' %}
  {% endif %}
  <!--[if IE 9]> <html lang="{{ lang }}" class="ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="{{ lang }}"> <!--<![endif]-->
{%- endblock -%}
