<footer>
  <div class="rpl-site-footer">
    <div class="rpl-site-footer__main">
      <ul class="rpl-footer-nav">
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.url_for('search') }}" class="rpl-link rpl-menu__item-link">{{ _('Data') }}</a>
          </h2>
        </li>
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.get_parent_site_url() }}/about-datavic" class="rpl-link rpl-menu__item-link">{{ _('About DataVic') }}</a>
          </h2>
        </li>
        <li class="rpl-footer-nav__menu-item rpl-footer-nav__menu-item--parent">
          <h2 class="rpl-footer-nav__heading">
            <a href="{{ h.get_parent_site_url() }}/contact-us" class="rpl-link rpl-menu__item-link">{{ _('Contact us') }}</a>
          </h2>
        </li>
      </ul>
      <div class="rpl-acknowledgement rpl-site-footer__acknowledgement">
        <img class="rpl-acknowledgement__flag" src="/images/aboriginal-flag.png" alt="Aboriginal flag" />
        <img class="rpl-acknowledgement__flag" src="/images/torres-strait-islander-flag.png" alt="Torres Strait Islander flag" />
        <div class="rpl-acknowledgement__text">{{ _('The Victorian Government acknowledges Aboriginal Traditional Owners of Country throughout Victoria and pays respect to their cultures and Elders past, present and emerging.') }}</div>
      </div>
    </div>
    <div class="rpl-site-footer__bottom">
      <div class="rpl-site-footer__bottom-main">
        <div class="rpl-links-and-copyright">
          <ul class="rpl-links-and-copyright__links"><!-- {# The comments here are intentional - to remove whitespace between inline block elements #}
            --><li><a href="{{ h.get_parent_site_url() }}/privacy-vicgovau">{{ _('Privacy') }}</a></li><!--
            --><li><a href="{{ h.get_parent_site_url() }}/disclaimer">{{ _('Disclaimer') }}</a></li><!--
            --><li><a href="{{ h.get_parent_site_url() }}/copyright">{{ _('Copyright') }}</a></li><!--
            --><li><a href="{{ h.get_parent_site_url() }}/accessibility">{{ _('Accessibility') }}</a></li><!--
            --><li><a href="{{ h.url_for('sitemap.index') }}">{{ _('Sitemap') }}</a></li><!--
            --><li><a href="{{ h.get_parent_site_url() }}/contact-us">{{ _('Contact us') }}</a></li><!--
          --></ul>
          <div class="rpl-links-and-copyright__copyright">© Copyright State Government of Victoria</div>
        </div>
      </div>
      <div class="rpl-site-footer__logos">
        <a href="https://vic.gov.au" target="_blank" class="rpl-link rpl-site-footer__logo">
          <img src="/images/vic-footer-logo.svg" alt="Victoria Government Website">
        </a>
      </div>
    </div>
  </div>
</footer>

{% block footer_debug %}
    {% if g.debug %}
        {% include 'snippets/debug.html' %}
    {% endif %}
{% endblock %}
