{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item {% if res.public_order_url %}has-wms-buttons{% endif %}" data-id="{{ res.id }}">

    {% if res.public_order_url %}
     <div id='orderEmail'>
        <div id='orderEmailForm'>
            <p>Use Order Resources to get access to spatial data in various formats and extents. </p>

            <p>You are being asked to supply a valid email address, so we can notify you via email when your data is ready to download.</p>
            <div>
             <input id="order-email" type="text" placeholder="Email" onkeyup='document.querySelector("#orderEmail input").setAttribute("class", "")'>
            </div>
            <div id='orderEmailButtons'>
                <button class="btn btn-primary" onclick='checkOrder()'>Continue Order</button>
                <button class="btn btn-primary" onclick='document.querySelector("#orderEmail").setAttribute("class", "")'>Cancel</button>
            </div>
        </div>
     </div>
    {% endif %}

  {% block resource_item_title %}
    <div class="resource-icon">
        <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    </div>
    <div class="resource-summary">
        <p>
            {% if url_is_edit %}
                Edit "<a href="{{ url }}">{{ h.resource_display_name(res) }} </a>"<br/>
            {% else %}
              {{ h.resource_display_name(res)}}<br/>
            {%endif%}
            {% if historical or url_is_edit %}
            <small>
                {% if res.release_date and res.release_date != '' %}
                    Release Date: {{res.release_date|truncate(10,end='')}}
                {% endif %}
                {% if res.period_start and res.period_start != '' %}
                &nbsp; Period: {{res.period_start|truncate(10,end='')}} &raquo; {{res.period_end|truncate(10,end='')}}
                {% endif %}
            </small>
            {% endif %}
        </p>
        {#% if not url_is_edit %}
            <span class="format" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">x {{ h.get_translated(res, 'format') }}<span class='sr-only'> format</span></span>
        {% endif %#}
    </div>
  {% endblock %}

  {% block resource_item_description %}
  {% endblock %}

  {% block resource_item_explore %}
  {% if not url_is_edit %}

    {# SDM harvested datasets have a `public_order_url` assigned to their resources #}
    {% if res.public_order_url %}
</li>
<li class="resource-item wms-buttons {% if res.format not in ['wms', 'WMS'] %}no-wms-url{% endif %}">
      {% if res.wms_url and res.format in ["wms", "WMS"] %}
        <ul class="btn-holder">
            <li>
            <a class='btn btn-primary resource-download' href="{{ res.wms_url }}" onclick='return checkTerms(event)'>
                 {{ _('WMS URL') }}
                <i class="icon-arrow-down"></i>
            </a>
            <form class="drop">
                <label class="custom-label"><input title="checkbox" type="checkbox" class="jcf-hidden" style="position: absolute; left: -9999px;"><span class="custom-check" onclick='checkboxClick(event)' ></span></label>
                <p>Please check this box to confirm you accept and agree to comply with our <a class="terms-link" href="https://data.vic.gov.au/copyright" target="_blank">Terms of Use and Copyright and Attribution</a> requirements including any attribution specified on this page. You must comply with the relevant Licence requirements for each dataset.</p>
            </form>
            </li>
        </ul>
      {% endif %}
        <ul class="btn-holder">
            <li>
                {% set sdm_url = res.url | replace("https://sdm.iar.data.vic.gov.au/vicgislite/sdmAccess.jsp", h.current_url() + '/order') %}
                <a class='btn btn-primary resource-download sdm-resource' href='{{ sdm_url }}' onclick='return checkTerms(event)'>
                    {# @Todo: Change this to res.public_order_url #}
                    {% if res.url %}
                    {{ _('Order Resource') }}
                    {% else %}
                    {{ _('Download') }}
                    {% endif %}
                    <i class="icon-arrow-down"></i>
                </a>
                <form class="drop">
                    <label class="custom-label"><input title="checkbox" type="checkbox" class="jcf-hidden" style="position: absolute; left: -9999px;" ><span class="custom-check" onclick='checkboxClick(event)'></span></label>
                    <p>Please check this box to confirm you accept and agree to comply with our <a class="terms-link" href="https://data.vic.gov.au/copyright" target="_blank">Terms of Use and Copyright and Attribution</a> requirements including any attribution specified on this page. You must comply with the relevant Licence requirements for each dataset.</p>
                </form>
            </li>
        </ul>
    {% else %}

        <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.has_views or res.format|upper not in ['API', 'API/TOOL', 'DATA TOOL', 'HTML', 'WMS', 'WFS', 'GeoJSON', 'GPX', 'KML', 'KMZ', 'SHP', 'SHP-ZIP', 'MIF-ZIP', 'TAB-ZIP', 'DXF-ZIP'] %}
            <i class="fa fa-bar-chart-o"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.url and h.is_url(res.url) %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.has_views or res.url_type == 'upload' or res.format|upper not in ['API', 'API/TOOL', 'DATA TOOL', 'HTML', 'WMS', 'WFS', 'GeoJSON', 'GPX', 'KML', 'KMZ', 'SHP', 'SHP-ZIP', 'MIF-ZIP', 'TAB-ZIP', 'DXF-ZIP'] %}
            <i class="fa fa-arrow-circle-o-down"></i>
            {{ _('Download') }}
          {% else %}
            <i class="fa fa-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="fa fa-pencil-square-o"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>

    {% endif %}

  {% endif %}
  {% endblock %}
</li>
