{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
    <div class="resource-summary">
        <p>
            {% if url_is_edit %}
                Edit "<a href="{{ url }}">{{ h.resource_display_name(res) }} </a>"<br/>
            {% else %}
                <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
                  {{ h.resource_display_name(res)}}<br/>
                </a>
            {%endif%}
            {% if historical or url_is_edit %}
            <small>
                {% if res.release_date and res.release_date != '' %}
                    Release Date: {{res.release_date|truncate(10,end='')}}
                {% endif %}
                {% if res.period_start and res.period_start != '' %}
                &nbsp; Period: {{res.period_start|truncate(10,end='')}} &raquo; {{res.period_end|truncate(10,end='')}}
                {% endif %}
            </small>
            {% endif %}
        </p>
        {% if not url_is_edit %}
            <a class="format" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}<span class='sr-only'> format</span></a>
        {% endif %}
    </div>
  {% endblock %}

  {% block resource_item_description %}
  {% endblock %}

  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('Explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.has_views or res.format|upper not in ['API', 'API/TOOL', 'DATA TOOL', 'HTML', 'WMS', 'WFS', 'GeoJSON', 'GPX', 'KML', 'KMZ', 'SHP', 'SHP-ZIP', 'MIF-ZIP', 'TAB-ZIP', 'DXF-ZIP'] %}
            <i class="fa fa-bar-chart-o"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.url and h.is_url(res.url) %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.has_views or res.url_type == 'upload' or res.format|upper not in ['API', 'API/TOOL', 'DATA TOOL', 'HTML', 'WMS', 'WFS', 'GeoJSON', 'GPX', 'KML', 'KMZ', 'SHP', 'SHP-ZIP', 'MIF-ZIP', 'TAB-ZIP', 'DXF-ZIP'] %}
            <i class="fa fa-arrow-circle-o-down"></i>
            {{ _('Download') }}
          {% else %}
            <i class="fa fa-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <i class="fa fa-pencil-square-o"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
  {% endblock %}
</li>
