{% extends "package/read_base.html" %}

{# Note: The parent template has aliased c.pkg_dict as pkg #}

{% block package_description %}
  {{ super() }}

  {% for field_id, field_attributes in h.dataset_extra_fields %}
    {% if pkg.get(field_id) %}
      <section id="dataset-{{ field_id }}" class="resources module-content">
        <p><strong>{{ _( field_attributes['label'] ) }}</strong>: {{ pkg.get(field_id) }}</p>
      </section>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block primary_content_inner %}
  {% block package_resources %}

        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, historical=true %}

  {% endblock %}
{% endblock %}