{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset.read', _('Dataset'), id=pkg.name, icon=None) }}
  {% if h.check_access('package_activity_list', {'id':pkg.id}) %}
    {{ h.build_nav_icon('activity.package_activity', _('Activity Stream'), id=pkg.name, icon=None) }}
  {% endif %}

  {% set historical_resources = h.historical_resources_list(pkg.resources) %}

  {% if historical_resources[1] and historical_resources[1]['period_start'] %}
    {{ h.build_nav_icon('odp_dataset.historical', _('Historical Data and Resources'), id=pkg.name, icon=None) }}
  {% endif %}
{% endblock %}

  {% block package_social %}
  {% endblock %}
