{% ckan_extends %}

{# Note: The parent template has aliased c.pkg_dict as pkg #}

{% block package_description %}
  {{ super() }}
{% endblock %}

{% block package_tags %}
{% endblock %}

{% block package_resources %}
  {% set historical_resources_list = h.historical_resources_list(pkg.resources) %}
  {% if historical_resources_list[1] and historical_resources_list[1]['period_start'] and historical_resources_list[1]['period_start'] != None  and historical_resources_list[1]['period_start'] != "" %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=[historical_resources_list[0]] %}
  {% else %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endif %}
{% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}
