{% extends "package/read_base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ super() }}{% endblock %}

{% block head_extras -%}
  {{ super() }}
  {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
  <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
  <meta property="og:description" content="{{ description|forceescape|trim }}">
{% endblock -%}

{% block primary_content_inner %}
  {% block package_resources %}

        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, historical=true %}

  {% endblock %}
{% endblock %}
