{% ckan_extends %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name, icon=None) }}
  {{ h.build_nav_icon('dataset_groups', _('Categories'), id=pkg.name, icon=None) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name, icon=None) }}
  {% if h.historical_resources_list(pkg.resources)[1] and  h.historical_resources_list(pkg.resources)[1]['period_start'] != 'None' and  h.historical_resources_list(pkg.resources)[1]['period_start'] != ""%}
    {{ h.build_nav_icon('dataset_historical', _('Historical'), id=pkg.name, icon=None) }}
  {% endif %}
{% endblock %}