$rpl-checklist-expanded-border: 1px solid rpl-color('primary');
$rpl-checklist-hover-color: rpl-color('white');
$rpl-checklist-hover-background-color: rpl-color('primary');
$rpl-checklist-label-ruleset: ('xs', 1.4em, 'regular');
$rpl-checklist-label-text-color: rpl-color('extra_dark_neutral');
$rpl-checklist-checkbox-border: 1px solid rpl-color('mid_neutral_1');
$rpl-checklist-checkbox-border-focus: 1px solid rpl-color('primary');
$rpl-checklist-list-row-padding: $rpl-space-3 $rpl-form-element-padding-m-horizontal;
$rpl-checklist-list-row-odd-background: rpl-color('white');
$rpl-checklist-checkbox-border-radius: rem(4px);
$rpl-checklist-more-text-color: rpl-color('primary');
$rpl-checklist-dropdown-max-height: (rem(38px) * 10);

.rpl-checklist {
  $root: &;

  &__combobox {
    background-color: $rpl-form-element-bg-color;
    border: 1px solid $rpl-form-element-border-color;
    border-radius: $rpl-form-element-border-radius;
    position: relative;

    &--expanded {
      border: $rpl-checklist-expanded-border;

      @include rpl_breakpoint('m') {
        border-radius: $rpl-form-element-border-radius $rpl-form-element-border-radius 0 0;
        border-bottom: 1px solid transparent;
      }

      #{$root}__info {
        .rpl-icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__info {
    position: relative;
    cursor: pointer;
    color: $rpl-form-element-text-color;
    text-align: left;
    display: block;
    width: 100%;
    background: rpl-color('white');
    border: 0;
    padding: $rpl-form-element-padding-s;
    @include rpl_breakpoint(m) {
      padding: $rpl-form-element-padding-m;
    }

    .rpl-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      right: $rpl-form-element-padding-s-horizontal;
      margin: auto;
      transition: transform .25s;
      @include rpl_breakpoint(m) {
        right: $rpl-form-element-padding-m-horizontal;
      }
    }
  }

  &__list--dropdown {
    @include rpl_breakpoint('m') {
      background-color: $rpl-form-element-bg-color;
      border: $rpl-checklist-expanded-border;
      border-top: 0;
      box-sizing: content-box;
      position: absolute;
      z-index: 1;
      left: -1px;
      width: 100%;
      max-height: $rpl-checklist-dropdown-max-height;
      overflow: auto;
    }
  }

  &__list-row {
    padding: $rpl-checklist-list-row-padding;

    &:nth-child(odd) {
      background: $rpl-checklist-list-row-odd-background;
    }

    &--single {
      padding: 0;
    }
  }

  &__single-item {
    @include rpl_form_text;
    background-color: transparent;
    padding: $rpl-checklist-list-row-padding;
    border: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &:hover, &:focus {
      color: $rpl-checklist-hover-color;
      background-color: $rpl-checklist-hover-background-color;
    }

    &--selected {
      text-decoration: underline;
    }
  }

  &__more-count {
    color: $rpl-checklist-more-text-color;
  }

  .rpl-checkbox {
    margin-bottom: 0;
  }
}
