$rpl-checkbox-box-border: 1px solid rpl-color('mid_neutral_1');
$rpl-checkbox-box-border-focus: 1px solid rpl-color('primary');
$rpl-checkbox-box-border-radius: rem(4px);

.rpl-checkbox {
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    top: 1px;
    left: 1px;
    opacity: 0;
    width: $rpl-space * 5;
    height: $rpl-space * 5;

    &:focus {
      & + .rpl-checkbox__box {
        border: $rpl-checkbox-box-border-focus;
      }
    }
  }

  &__inline-label {
    @include rpl_typography_ruleset($rpl-form-element-text-ruleset);
    margin-left: $rpl-space-2;
  }

  &__box {
    display: inline-block;
    vertical-align: middle;
    border: $rpl-checkbox-box-border;
    border-radius: $rpl-checkbox-box-border-radius;
    background-color: rpl-color('light_neutral');
    width: $rpl-space * 5;
    height: $rpl-space * 5;
    position: relative;

    .rpl-icon {
      display: none;
    }

    &--checked {
      background-color: rpl-color('white');
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

      .rpl-icon {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
