.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@each $color-name, $color-value in $rpl-colors {
  .rpl-icon--color_#{str-replace($color-name, ' ', '-')} {
    fill: rpl-color($color-name);
  }
}

h2 {
  font-size: rem(24px);
}

.module-content {
  h1 {
    font-family: "Vic-Bold", arial, sans-serif;
    font-size: rem(28px);
    padding-top: rem(16px);
  }
  .resources {
    h2,
    h3 {
      padding: 1rem 0;
    }
  }
}

.additional-info,
.dataset-contact {
  h3 {
    padding: rem(16px) 0;
  }
}

.module-content {
  .notes.embedded-content {
    h2 {
      font-size: rem(20px);
    }
    h3 {
      font-size: rem(18px);
    }
    h3 {
      font-size: rem(16px);
    }
  }
}

.rpl-wrapper {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}

.hidden {
    display: none !important;
}
