.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@each $color-name, $color-value in $rpl-colors {
  .rpl-icon--color_#{str-replace($color-name, ' ', '-')} {
    fill: rpl-color($color-name);
  }
}

