.rpl-footer-nav {
  padding: 0;
  margin: 16px 0;
  ol {
    margin: 0;
  }
}

.rpl-footer-nav__menu-item {
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  @include rpl_breakpoint(l) {
    display: inline-block;
    margin-left: 20px;
    width: calc(33.33% - 16px);
  }
}

.rpl-links-and-copyright__links li {
  line-height: 1em;
}
