ul.btn-holder {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    &:hover {
        .drop {
            display: block;
        }
    }
}

.resource-item .drop {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    display: none;
    color: #767676;
    font-size: 12px;
    background: #fff;
    line-height: 18px;
    text-align: center;
    border: 1px solid #008fff;
    border-width: 0 1px 1px;
    z-index: 10;
}

.sdm-resource {
    display: block;
}

.custom-check {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
    top: -.15em;
    width: 31px;
    height: 31px;
    background: url(/bg-checkboxes.png) no-repeat;
}

.drop label {
    &:after {
        content: '';
    }
}

label:hover .custom-check {
    background-position: -62px 0;
    opacity: 0.5;
}

label.chk-label-active .custom-check,
.custom-check.focus {
    background-position: -62px 0;
    opacity: 1;
}

#orderEmail{
	height: 0px;
	width: 0px;
	position: absolute;
	margin-right: auto;
	background: white;
	border: 1px solid #767676;
	opacity: 0;
	box-shadow: 2px 2px 6px gray;
	transition: height 1s, width 1s, opacity 1s;
	overflow: hidden;
	z-index: 99;
}
#orderEmail.shown{
	opacity: 1;
	border: 1px solid #767676;
	height: 360px;
	width: 500px;
}
#orderEmail div{
	margin: auto;
	text-align: center;
}
#orderEmailForm{
	padding: 40px 40px;
}
#orderEmailForm input{
	width: 280px;
}
#orderEmailButtons{
	width: 310px;
}
#orderEmailForm button{
	padding: 10px 20px;
	margin-bottom: 10px;
}
#orderEmailForm button:first-child{
	margin-right: 10px
}
#orderEmail input.error{
	background: #ecbec0;
}
