//  This CSS has been cherry picked from the Datavic CKAN 2.2 theme:
//  https://github.com/salsadigitalauorg/datavic_ckan_2.2/blob/develop/default/src/ckanext-datavic/ckanext/datavic/fanstatic/styles/new.css

$primary-color: #0052C2;

.resource-item {

	border-bottom: 2px solid rpl-color('mid_neutral_1');
    border-radius: 0;
	padding: 10px;

    .resource-summary {
        flex-grow: 2;
        margin-right: 15px;
    }

    .resource-icon {
        max-width: 45px;
        .format-label {
            position: initial;
            margin-right: 10px;
        }
    }
}

.resource-list {
    .resource-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        &:hover {
            background-color: transparent;
        }
    }
    .btn-group {
        position: relative;
        top: auto;
        right: auto;
    }
}

.dropdown-menu {
    border-color: rpl_color('primary');
    > li {
        > {
            a:hover {
                background-image: none;
                background-color: rpl_color('primary');
            }
        }
    }
}
