//  This CSS has been cherry picked from the Datavic CKAN 2.2 theme:
//  https://github.com/salsadigitalauorg/datavic_ckan_2.2/blob/develop/default/src/ckanext-datavic/ckanext/datavic/fanstatic/styles/new.css

$primary-color: #0052C2;

.resource-item {

	border-bottom: 2px solid rpl-color('mid_neutral_1');
    border-radius: 0;
	padding: 10px;

    .resource-summary {
        margin-right: 15px;
    }

    .format {
        background-color: rpl-color('light_neutral');
        box-shadow: inset 0 1px 43px 0 rgba(0,0,0,0.05);
        color: #011A3C;
        font-size: 14px;
        font-weight: 500;
        height: 18px;
        line-height:18px;
        margin:0 6px 0 0;
        padding: 3px 8px;
        text-align:center;
        text-transform:uppercase;
        vertical-align:top;
        width:40px;
    }
}

.resource-list {
    .resource-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .btn-group {
        position: relative;
        top: auto;
        right: auto;
    }
}

.dropdown-menu {
    border-color: rpl_color('primary');
    > li {
        > {
            a:hover {
                background-image: none;
                background-color: rpl_color('primary');
            }
        }
    }
}
