//  This CSS has been cherry picked from the Datavic CKAN 2.2 theme:
//  https://github.com/salsadigitalauorg/datavic_ckan_2.2/blob/develop/default/src/ckanext-datavic/ckanext/datavic/fanstatic/styles/new.css

$primary-color: #0052C2;

.resource-item {

	border-bottom: 1px solid rpl-color('mid_neutral_1');
    border-radius: 0;
	padding: rem(10px);

    .resource-summary {
        flex-grow: 2;
        margin-right: rem(15px);
        word-break: break-all;
    }

    .resource-icon {
        max-width: rem(45px);
        .format-label {
            position: initial;
            margin-right: 10px;
        }
    }
}

.resource-list {
    .resource-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        &:hover {
            background-color: transparent;
        }
        .btn-group {
            display: inline-block;
        }
    }
    .btn-group {
        position: relative;
        top: auto;
        right: auto;
    }
    
    @media (max-width:767px) {
        .resource-item {
            display: inline;
            .btn-group {
                display: block;
            }
        }
      }
}

.dropdown-menu {
    border-color: rpl_color('primary');
    > li {
        > {
            a:hover {
                background-image: none;
                background-color: rpl_color('primary');
            }
        }
    }
}

.dataset-resources {
    .label {
        background: none;
        color: rpl_color('dark_neutral');
        font-size: rem(14px);
        padding: 0 rem(4px) 0 0;
        text-shadow: none;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: rpl_color('dark_neutral');
            text-decoration: underline;
        }
        &:before {
            content: "|";
            padding-right: rem(10px);
        }
    }
    li {
        &:first-child {
            .label {
                &:before {
                    content: "";
                    padding-right: 0;
                }
            }
        }
    }
}

.res_abstract_heading {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: normal;
}
