.dataset-resources {
  margin-top: rem(12px);

  li {
    a {
      &.label {
        background-color: rpl-color('light_neutral');
        border-radius: none;
        color: inherit;
        font-size: rem(14px);
        font-weight: 500;
        height: rem(18px);
        line-height: rem(18px);
        padding: rem(3px) rem(8px);
        text-align:center;
        text-shadow: none;
        text-transform:uppercase;
      }
    }
  }
}

.search-form {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.dataset-item {
  border-bottom: none;
  border-top: 2px solid rpl-color('mid_neutral_1');
  padding: rem(32px) 0 0 0;
  margin: rem(32px) 0 0 0;
}