//  CKAN RESET
.rpl-search-form {
  form,
  .wrapper {
    margin-bottom: 0;
  }
}

.rpl-search-form__field,
.field-rplchecklist {
  label {
    &:after {
      content: "";
    }
  }
}

.rpl-search-form__field {
  input[type="text"] {
    border: none;
    box-shadow: none;
    margin-bottom: 0;

    &:focus-visible {
      outline: none;
    }
  }
}

$rpl-search-form-button-width: rem(28px) !default;
$rpl-search-form-input-text-color: rpl-color('extra_dark_neutral') !default;
$rpl-search-form-input-margin: auto auto ($rpl-space-4) auto !default;
$rpl-search-form-input-margin-s: auto auto ($rpl-space-4) auto !default;
$rpl-search-form-input-margin-l: auto auto ($rpl-space-4) auto !default;
$rpl-search-form--two-cols-col-padding-l: 0 0 0 rem(25px) !default;
$rpl-search-form--two-cols-col-width-l: calc(50% - #{$rpl-space-4}) !default;
$rpl-search-form-input-ruleset: (
        'xs': ('m', 1.22em, 'medium'),
        'm': ('xl', 1.17em, 'medium'),
        'xxl': ('mega', 1.14em, 'medium')
) !default;
$rpl-search-form-term-margin: auto $rpl-space-2 $rpl-space-3 auto !default;
$rpl-search-form-terms-header-text-color: rpl-color('extra_dark_neutral') !default;
$rpl-search-form-field-underline-background: rpl-color('mid_neutral_2') !default;
$rpl-search-form-heading-color: rpl-color('primary') !default;
$rpl-search-form-dark-text-color: rpl-color('white') !default;
$rpl-search-form-heading-ruleset: (
        'xs': ('mega', 1.07em, 'bold'),
        'm': ('xgiga', 1em, 'bold'),
        'xxl': ('tera', 1em, 'bold')
) !default;
$rpl-search-form-sub-heading-ruleset: (
        'm': ('mega', 1em, 'medium'),
) !default;
$rpl-search-form-show-filters-ruleset: ('s', .87em, 'bold') !default;
$rpl-search-form-legend-ruleset: (2em, 2.2em, 'bold') !default;
$rpl-search-form-show-filters-text-color: rpl-color('primary') !default;
$rpl-search-form-search-text: $rpl-search-form-show-filters-ruleset !default;

.rpl-search-form {
  $root: &;
  @include rpl_mobile_padding();
  padding-top: $rpl-space * 7;
  padding-bottom: $rpl-space-4 * 2;

  @include rpl_breakpoint('m') {
    padding-left: 0;
    padding-right: 0;
  }

  @include rpl_breakpoint('l') {
    padding-top: $rpl-space-4 * 3;
    padding-bottom: $rpl-space * 15;
  }

  h1 {
    @include rpl_typography_ruleset($rpl-search-form-heading-ruleset);
    color: rpl-color('extra_dark_neutral');
    margin-top: 0;
    padding-left: 25px;

    @at-root {
      #{$root}--dark h1 {
        color: $rpl-search-form-dark-text-color;
      }
    }
  }

  h3 {
    @include rpl_typography_ruleset($rpl-search-form-sub-heading-ruleset);
  }

  &__btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      // TODO - update to match design
      @include rpl_typography_ruleset($rpl-search-form-search-text);
      color: rpl-color('primary');
      margin-right: $rpl-space-2;
    }

    svg {
      width: $rpl-search-form-button-width;
      height: $rpl-search-form-button-width;
    }
  }

  fieldset {
    legend {
      @include rpl_typography_ruleset($rpl-search-form-legend-ruleset);
    }
  }

  &__input {
    @include rpl_typography_ruleset($rpl-search-form-input-ruleset);
    background-color: transparent;
    border: 0;
    padding: 1px;
    width: 100%;
    color: $rpl-search-form-input-text-color;

    @at-root {
      #{$root}--dark #{$root}__input {
        color: $rpl-search-form-dark-text-color;
      }
    }

    &::-webkit-input-placeholder {
      color: $rpl-search-form-input-text-color;

      @at-root {
        #{$root}--dark #{$root}__input::-webkit-input-placeholder {
          color: $rpl-search-form-dark-text-color;
        }
      }
    }
  }

  &__label-text {
    @include rpl_visually_hidden;
  }

  &__field {
    position: relative;
    display: flex;
    margin: $rpl-search-form-input-margin;

    @include rpl_breakpoint('s') {
      margin: $rpl-search-form-input-margin-s;
    }

    @include rpl_breakpoint('l') {
      margin: $rpl-search-form-input-margin-l;
    }

    label {
      width: 100%;
    }

    &::after {
      content: '';
      width: 100%;
      position: absolute;
      display: inline-block;
      bottom: rem(-5px);
      left: 0;
      right: 0;
      height: rem(2px);
      background: $rpl-search-form-field-underline-background;
      @include rpl_breakpoint('l') {
        height: rem(3px);
      }
    }
  }

  &__show-filters {
    @include rpl_typography_ruleset($rpl-search-form-show-filters-ruleset);
    color: $rpl-search-form-show-filters-text-color;
    background: transparent;
    border: 0;
    margin-left: auto;
    display: block;
    cursor: pointer;

    @at-root {
      #{$root}--dark #{$root}__show-filters {
        color: $rpl-search-form-dark-text-color;
      }
    }

    &::after {
      content: ' +';
    }

    &--expanded {
      &::after {
        content: ' -';
      }
    }
  }

  &__filters {
    padding-top: $rpl-space * 12;
  }

}

.search-form-wrapper {
  background-color: rpl-color('light_neutral');
  border-top: 0;
  margin-bottom: 1px;
  @include full-width;
}

.rpl-form {
  @include rpl_breakpoint('m') {
    padding: 0 25px;
  }
}

.rpl-search-form {
  @include rpl_breakpoint('m') {
    margin-left: auto;
    margin-right: auto;
    width: 724px;
  }
  @include rpl_breakpoint('l') {
    width: 940px;
  }
  &__field {
    label {
      margin-bottom: 0;
    }
  }
}

.rpl-search-form__field {
  input[type="text"] {
    background-color: transparent;
    color: $rpl-search-form-input-text-color;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.17em;
    padding: 1px;
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
    @include rpl_breakpoint('s') {
        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $rpl-search-form-input-text-color;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: $rpl-search-form-input-text-color;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: $rpl-search-form-input-text-color;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
           color: $rpl-search-form-input-text-color;
        }
    }
  }
}
